h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.saldos{
    display: flex;
    justify-content: center;
    gap: 60px
}

.saldos .saldo_atual{
    display: flex;
    text-align: center;
    align-items: center;
    color: cadetblue;
    font-weight: 900;
    font-size: 30px;
}

